[user]
	name = Luan Vieira
	email = luanzeba@github.com
[color]
	ui = always
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
  edit = !$EDITOR $(git ls-files -o -m --exclude-standard)
[github]
	user = luanzeba
[credential]
	helper = osxkeychain
[remote]
	pushDefault = origin
