# macOS
.DS_Store

# Downloaded as part of the install script
bin/csw

# Neovim plugin lockfile (we prefer latest versions)
nvim/lazy-lock.json

# Runtime config files (created by install scripts)
.config/
