[user]
	name = Luan Vieira
	email = luanzeba@github.com
[color]
	ui = always
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
	templatedir = ~/.git_template
[alias]
	edit = !$EDITOR $(git ls-files -o -m --exclude-standard)
	ci = !git commit --amend --no-edit && git push --force-with-lease
	main = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
	sm = !"git switch $(git main)"
	rom = !"git fetch; git rebase origin/$(git main)"
[github]
	user = luanzeba
[remote]
	pushDefault = origin
[pull]
	rebase = true
[rebase]
	autostash = true
[include]
	path = ~/.gitconfig-macos
