<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>HOME</key>
      <string>/Users/luan</string>
      <key>PATH</key>
      <string>/Users/luan/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
      <key>GH_CONFIG_DIR</key>
      <string>/Users/luan/.config/gh</string>
      <key>XDG_CONFIG_HOME</key>
      <string>/Users/luan/.config</string>
      <key>XDG_STATE_HOME</key>
      <string>/Users/luan/.local/state</string>
    </dict>

    <key>Label</key>
    <string>luan.gh-not-sync.hourly</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/luan/.local/bin/gh</string>
      <string>not</string>
      <string>sync</string>
      <string>--config=/Users/luan/.config/gh-not/config.yaml</string>
      <string>--verbosity=2</string>
    </array>

    <key>StandardErrorPath</key>
    <string>/tmp/gh-not-sync.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/gh-not-sync.out</string>

    <key>StartInterval</key>
    <integer>3600</integer>
  </dict>
</plist>
